<style>
  archipelago-page-selector {
    display: flex;
    gap: 2px;
  }

  archipelago-page-selector a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: #0012;
    font-weight: 800;
  }

  archipelago-page-selector a.selected {
    color: #fff;
    background: #0016;
  }
</style>
<a href ng-repeat="page in $ctrl.pages" ng-class="{ selected: $ctrl.selected === page }"
  ng-click="$ctrl.selectPage(page)">{{ page
  }}</a>